<div>
    <h3>Thank you for your message.</h3>
</div>
<div>
    <p>Your message has been sent to the farmer.</p>
    <p>The farmer will contact you </p>
        <p>Regards,
        The Agri-Energy Connect Team!
    </p>
    <p/>
<p/>
    <p />
    <p />
    <p />
    <p/>
    <p />
    <p/>

</div>

