<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Access</title>
</head>
<body>
    <p>
        Unfortunately, please who do not have accounts with us cannot view product or category information.

        <div>
            <a asp-controller="Home" asp-action="SignIn">Already have an account? Sign In</a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Registration">Alternatively, apply to be a farmer with us </a>
        </div>

    </p>

</body>
</html>
