@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> to Agri-Energy Connect </h2>
    <p>
        We aim to create a digital ecosystem where farmers, green energy experts,
        and enthusiasts can collaborate, share resources, and innovate in the realms of sustainable
        agriculture and renewable energy. 
    </p>
    <p/>
    <p>Here, farmers can list products, sell products to others and buy products.</p>
    <p />
    <p>Products include Fruits, Vegetables, Fertilizer, Semi-Automated Solutions, Automated Solutions and Green Energy Solution and many more. </p>
    <div>
        <a asp-action="Registration">Click here to apply to register as a farmer</a>
    </div>
</div>
