@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<p>Our website connects farmers and green energy solution providers through the use of a mailing system, which is why users who choose to apply to be farmers have to consent to the use of their email address by Agri-Energy Connect.</p>
