<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Pending </title>
</head>
<body>
    <p>Welcome back,</>
    <p>Once again, we thank you for requesting to register as a Farmer</p>
    <p>We are still working on your application.</p>
    <p>Please check back again soon...</p>

</body>
</html>