<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Denied</title>
</head>
<body>
    <p>Thank you for requesting to register as a Farmer</p>
    <p>We regret to inform you that although we aim to culvitate growth and connect farmers and green energy solution providers,
        our dedicated employees have determined that your request to register will not be approved.
    </p>


    <p> We apologise for any inconvenience caused and wish you all the best with your agri-adventures.

        Best regards,
        The Agri-Energy Connect Team.
    </p>

   
</body>
</html>